<h1>Empleado!</h1>
<br>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">$</span>
  <input type="text" class="form-control" placeholder="Salario Mensual" aria-describedby="sizing-addon1">
</div>
