@{
    ViewData["Title"] = "Inicio Trabajador";
}
<div class="container">
     <a class="btn btn-primary btn-lg btn-block" asp-controller="Trabajador" asp-action="Independiente">
            Soy Independiente
        </a>
        <a class="btn btn-success btn-lg btn-block" asp-controller="Trabajador" asp-action="Empleado">Soy Empleado</a>
</div>



